# Case 1: Python - Basic Data Processing

1. Load CSV File

In [1]:
import pandas as pd

In [2]:
"""load csv file"""
fpath = "data/patients.csv"
df = pd.read_csv(fpath)

2. Tokenizes the symptoms into lists

In [5]:
"""show current symptoms columns"""
df.head()

    id   name  age                         symptoms
0    1   Andi   45        demam, batuk, sesak napas
1    2   Budi   29                mual, sakit perut
2    3  Citra   62  pusing, kehilangan keseimbangan
3    4   Dita   30                      susah tidur
4    5    Eka   18                    gusi berdarah

In [9]:
print(f"symptoms column type: {type(df.iloc[0]['symptoms'])}")

symptoms column type: <class 'str'>

In [10]:
df["symptoms_tokenize"] = df["symptoms"].str.split(",")
df.head()

,id,name,age,symptoms,symptoms_tokenize
0,1,Andi,45,"demam, batuk, sesak napas","[demam, batuk, sesak napas]"
1,2,Budi,29,"mual, sakit perut","[mual, sakit perut]"
2,3,Citra,62,"pusing, kehilangan keseimbangan","[pusing, kehilangan keseimbangan]"
3,4,Dita,30,susah tidur,[susah tidur]
4,5,Eka,18,gusi berdarah,[gusi berdarah]

In [11]:
print(f"symptoms column type: {type(df.iloc[0]['symptoms_tokenize'])}")

symptoms column type: <class 'list'>

3. Filters patients older than 40 with more than 2 symptoms

In [14]:
filtered_df = df[(df["age"] > 40) & (df["symptoms_tokenize"].apply(len)>2)]
filtered_df

,id,name,age,symptoms,symptoms_tokenize
0,1,Andi,45,"demam, batuk, sesak napas","[demam, batuk, sesak napas]"
6,7,Gio,49,"menggigil, batuk, sakit kepala","[menggigil, batuk, sakit kepala]"